{{define "demo01/hello.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/s/css/mycss.css">
</head>
<body>
    <span> this is red </span>
    <br>
    定义一个用户的form表单：
    <form action="/getUserInfo" method="post">
            <!-- action: 待会提交表单到什么位置  -->
            <!-- method：不写默认是get -->
    
        用户名: <input type="text" name="username">
        密码：<input type="password" name="pwd">
        年龄：<input type="text" name="age">
        <br>
        你喜欢的编程语言：
        java: <input type="checkbox" name="lovelang" value="0">
        go: <input type="checkbox" name="lovelang" value="1">
        python: <input type="checkbox" name="lovelang" value="2">
        c: <input type="checkbox" name="lovelang" value="3">
        <br>
        地址：<input type="text" name="user[addr]">
        <br>
        邮箱：<input type="text" name="user[email]">
        <input type="submit" value="提交">
    </form>
</body>
</html>

{{end}}